/* Global --------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Vollkorn:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
}

:root {
    --font1: 'Vollkorn', serif;
    --font2: 'Arapey', serif;
    --font3: 'Mitr', sans-serif;
    --purple: rgb(155, 61, 155);
}

/* Header ---------- */

header {
    background-color: black;
    color: white;
    text-align: center;
}

header, h1 {
    padding: 0.5rem;
    font-size: 1rem;
    width: 11.5rem;

    font-variant: small-caps;
    font-family: var(--font2);
}

/* Main ----------- */

section.normal {
    background-color: white;
    color: black;
    text-align: justify;
    font-family: var(--font3);

    width: 10.5rem;
    padding: 1rem ; 
    font-size: 0.5rem;
    
}

section.images {
    background-color: rgb(39, 35, 35);
    padding: 1rem ; 
    font-size: 0.5rem;
 
    /* defina o background como fixo e posicione a imagem */
    background-attachment: fixed;
    background-repeat: no-repeat;

}

section.images > p {
    width: 8rem;
    text-align: center;
    color: black;

    font-family: var(--font1);
}

.text1 {
    background: rgba(255, 255, 255, 0.5);
}

.text2 {
    background: rgba(255, 255, 255, 0.5);
}

.text3 {
    background: rgba(255, 255, 255, 0.5);
}

#paris {
    background-image: url('/images/paris.jpg');
    background-size: 100%;
}

#londres {
    background-image: url('/images/telephone.jpg');
    background-size: 100%;
}

#san-francisco {
    background-image: url('/images/san-francisco.jpg');
    background-size: 100%;
}


/* Footer --------- */

footer {
    background-color: black;
    color: white;
    text-align: center;

    width: 11.5rem;
    padding: 0.5rem;
    font-size: 0.5rem;
}

a {
    color: rgb(223, 58, 58);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}